{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}

<h2>Find a City</h2>

<div>
<P>Search Coordinates</P>

<!-- The form fields are built from the definition in forms.py -->
<form action="{% url 'city_coords.html' %}">
  {{ form|crispy }}
  <input type='submit' value='Search'/>
</form>
</div>


<div>
{% if search_term %}
  <h2 id="city_coords_title">Subordinate City Detail <a href="{% url 'city_coord.html' %}" id='clear_search'>Clear</a></h2>
{% else %}
  <h2 id="city_coords_title">Not Found </h2>
    <h3><a href="{% url 'city_add.html' %}" id="city_add">Add City</a></h3>
{% endif %}
</div>

<div>

{% if city %}

    <div class="city" id="city_{{ city.pk }}">
        <p id="city_owner">Owner: {{ city.player.name }}</p>
        <p><span id="city_coords">Coords: {{ city.coords }}</span></p>
        <p><span id="city_culture">Culture: {{ city.culture }}</span></p>
        <p><span id="city_quality">Quality: {{ city.quality }}</span></p>
    </div>


    <form action="{% url 'city_edit.html' city_pk=city.pk %}">
      <input id="city_edit_form" type='submit' value='Edit City'>
    </form>

{% else %}
    <p>{{ message }}</p>

{% endif %}
</div>

{% endblock %}