{% extends 'base.html' %}

{% block content %}

    <h2><a href="{% url 'subCityList:player_detail' player_pk=city.player.pk %}">{{ city.player.name }}</a></h2>
    <h3>{{ city.quality }} {{ city.culture }}</h3>

    <div>
        <p><span id="city_coords">Coordinates: {{ city.coords }}</span></p>
    </div>

    <div>
    <p>Alliance: {{ city.player.team }}</p>
    <p>Player Total Cities: {{ city.player.cities.count }} out of {{ city.player.rank }}</p>
    </div>

    <div>
    <form action="{% url 'subCityList:city_edit' city_pk=city.pk %}">
        <input id="edit_city" type="submit" value="Edit City">
    </form>
    </div>

    <div>
    <form action={% url 'subCityList:city_add' player_pk=city.player.pk %}>
        <button type="submit">Add City</button>
    </form>
    </div>
{% endblock %}