{% extends 'base.html' %}

{% block content %}

<h2>{{ player.name }} owned Cities </h2>

<!-- The form fields are built from the definition in forms.py -->
    <div>
    {% for city in cities %}

        <div class="city" id="city_{{ city.pk }}">
        <p class="city_location"><a href="{% url 'city_detail.html' city_pk=city.pk %}">Coords: {{ city.coords }}</a></p>
        <p><span id="city_culture">Culture: {{ city.culture }}</span></p>
        <p><span id="city_quality">Quality: {{ city.quality }}</span></p>
        </div>

    {% empty %}
        <P>{{ message }}</P>

    {% endfor %}
    </div>
    <div>
    <form action={% url 'city_add.html' player.pk %}>
        <button type="submit">Add City</button>
    </form>
    </div>
{% endblock %}