{% extends 'base.html' %}


<!-- A user's profile page.

Includes the user's cities on the front page -->


{% block content %}

    <div>
    <h2>Grey Member: { user.username }</h2>

    {% if user.username %}
        <form action="{% url 'subCityList:edit_profile' %}">
        <input id="edit_profile_form" type='submit' value='Edit Profile'>
        </form>
    {% endif %}
    </div>

    <div>
    {% for city in cities %}
        <div class='city' id="city_{{ city.pk }}">
        <h3 class="city_type"><a href="{% url 'subCityList:city_detail' city_pk=city.pk %}">{{ city.quality }}{{ city.culture }}</a></h3>
        <P class="city_location">{{ city.coords }}</P>
        <P><a href="{% url 'subCityList:city_edit' city_pk=city.pk %}">Edit City</a></P>
        </div>

    {% empty %}
        <p id='no_records'>No Cities Yet</p>

    {% endfor %}

    </div>

<!-- Buttons for User to Add Own Cities -->
    <div>
    {% if city %}
        <form action="{% url 'subCityList:city_add' player_pk=city.player.pk %}">
        <input id="add_note" type='submit' value='Add your own notes'>
        </form>

    {% endif %}

    </div>

{% endblock %}