{% extends 'subCityList/base.html' %}


<!-- A user's profile page.

Includes the user's cities on the front page -->


{% block content %}

    <div>
    <h2>{{ user.username }}</h2>

    <div class="d-flex pb-5">
        <div class="mr-auto"> Alliance: {{ player.team }}</div>
        <div class="mr-auto">Total Cities: {{ player.cities.count }} out of {{ player.rank }}</div>



    {% if user.username %}
        <form action="{% url 'subCityList:edit_user_profile' %}">
        <input id="edit_profile_form" type='submit' value='Edit Profile'>
        </form>
    {% endif %}
    </div>

    <div class="container pt-5 justify-content-center">

    {% for city in cities %}
        <div class='d-flex' id="city_{{ city.id }}">

            <div class="mr-auto">{{ city.quality }} {{ city.culture }}</div>
            <div class="p-2"><a href="{% url 'subCityList:city_detail' city_pk=city.id %}">{{ city.coords }}</a></div>
        </div>

        <p><a href="{% url 'subCityList:city_edit' city_pk=city.id %}">Edit City</a></p>
        <div class="border-bottom border-white m-2"></div>

    {% empty %}
        <p id='no_records'>No Cities Entered Yet</p>

    {% endfor %}

    </div>

    </div>



{% endblock %}